!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'

    <!--โหลด basic javascript มาใช้ เพื่อจะได้ไม่ต้องเขียน javascript-->
    = javascript_pack_tag 'application'

    <!--ใช้ csrf ในการป้องกัน-->
    = csrf_meta_tags

  %body
    %banner= link_to "RottenPotatoes", movies_path
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    #main
      = yield
